@model TestBlog.Models.t_posts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>t_posts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_category.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_category.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_user.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_user.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
