@model IEnumerable<TestBlog.Models.t_posts>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_category.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_user.username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_category.category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_user.username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
