@model IEnumerable<TestBlog.Models.t_posts>
@{
    ViewBag.Title = "Index";
}
@using GridMvc.Html

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>  
<h2>Index</h2>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(model => model.title).Titled("Title").Filterable(true);
    columns.Add(model => model.postContent).Titled("Body").Filterable(true);
    columns.Add(model => model.tags).Titled("Tags").Filterable(true);
}).WithPaging(1).Sortable(true)